
footer p:last-of-type {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 98%;
    margin: 0.2rem auto;
    left: 1%;
}

@media (min-width: 768px) {
  footer p:last-of-type {
    width: 98%;
  }
}